body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #5290d2;
  
  }
  
  .album {
    border: 1px solid #ff0000;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    width: 250px;
    background-color: #e4d6d6;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #40474f;
    color: white;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .tracklist {
    text-align: left;
    padding-left: 40px;
  }
  